@model Org.Entity.Member

@{
    ViewData["Title"] = "会员";
}

<h1>编辑会员信息</h1>
<p>
   正在编辑的会员姓名：@Model.Name, 目前所属支部： 
   @if(Model.Branch != null){
       @Model.Branch.Name
   } else{
       @: 未知， 加入某个支部需从支部管理页面点击“添加会员”链接
   }
</p>
<form asp-action="Edit" method="POST">
    @Html.HiddenFor(m=>m.Id)
    @Html.HiddenFor(m => m.BranchId)
    <div class="card mt-2" id="infoArea" style="width:800px;"> 
        <div class="card-body p-2">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label col-form-label-sm">会员ID</label>
                <div class="col-4">
                    @Html.DisplayFor(m =>m.Id)
                </div>
                <label asp-for="IdCardNumber" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="IdCardNumber" class="form-control form-control-sm">
                    <span asp-validation-for="IdCardNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Name" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Name" class="form-control form-control-sm">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <label asp-for="MobilePhone" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="MobilePhone" class="form-control form-control-sm">
                    <span asp-validation-for="MobilePhone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Email" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Email" class="form-control form-control-sm">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-2">会员状态</div>
                <div class="col-4">
                    <div class="row m-0 p-0">
                        <div class="form-check col-6">
                            <input class="form-check-input" asp-for="IsActive">
                            <label class="form-check-label" asp-for="IsActive"></label>
                        </div>
                        <div class="form-check col-6">
                            <input class="form-check-input" asp-for="IsCandidate">
                            <label class="form-check-label" asp-for="IsCandidate"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Gender" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<Org.Entity.Gender>()"
                        class="form-control form-control-sm"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <label asp-for="BirthDate" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="BirthDate" class="form-control form-control-sm">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="NativePlace" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="NativePlace" class="form-control form-control-sm">
                    <span asp-validation-for="NativePlace" class="text-danger"></span>
                </div>
                <label asp-for="Nation" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Nation" class="form-control form-control-sm">
                    <span asp-validation-for="Nation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Education" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Education" class="form-control form-control-sm">
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <label asp-for="StemTitle" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="StemTitle" class="form-control form-control-sm">
                    <span asp-validation-for="StemTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="SocialPosition" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="SocialPosition" class="form-control form-control-sm">
                    <span asp-validation-for="SocialPosition" class="text-danger"></span>
                </div>
                <label asp-for="CareerDate" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="CareerDate" class="form-control form-control-sm">
                    <span asp-validation-for="CareerDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="WorkUnit" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="WorkUnit" class="form-control form-control-sm">
                    <span asp-validation-for="WorkUnit" class="text-danger"></span>
                </div>
                <label asp-for="WorkPost" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="WorkPost" class="form-control form-control-sm">
                    <span asp-validation-for="WorkPost" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label col-form-label-sm">工作地点</label>
                <div class="col-2 pr-2">
                    <input asp-for="WorkCity" class="form-control form-control-sm" placeholder="(省/市/自治区)">
                    <span asp-validation-for="WorkCity" class="text-danger"></span>
                </div>
                <div class="col-2 pl-2">
                    <input asp-for="WorkDistrict" class="form-control form-control-sm" placeholder="(市/区/县)">
                    <span asp-validation-for="WorkDistrict" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="WorkAddress" class="form-control form-control-sm" placeholder="(工作单位详细地址)">
                    <span asp-validation-for="WorkAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label class="col-2 col-form-label col-form-label-sm">居住地点</label>
                <div class="col-2 pr-2">
                    <input asp-for="ResideCity" class="form-control form-control-sm" placeholder="(省/市/自治区)">
                    <span asp-validation-for="ResideCity" class="text-danger"></span>
                </div>
                <div class="col-2 pl-2">
                    <input asp-for="ResideDistrict" class="form-control form-control-sm" placeholder="(市/区/县)">
                    <span asp-validation-for="ResideDistrict" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="ResideAddress" class="form-control form-control-sm" placeholder="(工作单位详细地址)">
                    <span asp-validation-for="ResideAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Sponsor1" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Sponsor1" class="form-control form-control-sm">
                    <span asp-validation-for="Sponsor1" class="text-danger"></span>
                </div>
                <label asp-for="Sponsor2" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-4">
                    <input asp-for="Sponsor2" class="form-control form-control-sm">
                    <span asp-validation-for="Sponsor2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-2">
                <label asp-for="Remarks" class="col-2 col-form-label col-form-label-sm"></label>
                <div class="col-10">
                    <input asp-for="Remarks" class="form-control form-control-sm">
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
            </div>
            <div class="from-group row">
                <div class="col-6">
                    <input type="submit" asp-route-flag="verify" value="勘误" 
                        onclick="if(confirm('勘误不会保存信息变更的日志，确实提交吗？')==false)return false;"
                        class="btn btn-primary text-nowrap">
                    <small>修正错误输入的字段，不会记录变更日志。</small>
                </div>
                <div class="col-6">
                    <input type="submit" asp-route-flag="update" value="变更" 
                        onclick="if(confirm('变更会保存每项信息的修改日志，确实提交吗？')==false)return false;"
                        class="btn btn-primary text-nowrap">
                    <small>更改会员最新信息，记录变更日志。</small>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        
    </script>
}